*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
    height: 100%;
    background-color: #eee000;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.container{
    margin-top: 3%;
    width: 900px;
    height: 600px;
    
}
.caixa1{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee000;
}
.texto1{
    font-size: large;
}
.caixa2{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    border-radius: 5px;
    
}
.cx21{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f18b;
    border-radius: 5px;
    gap: 20px;

}
.fleximgs{
    display: flex;
}
.logo{
    width: 200px;
}
.samu{
    width: 150px;
}
.cx22{
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputs input{
    font-size: large;
}
.button{
    width: 230px;
    height: 25px;
}
.fonts{
    font-size: 40px;
}
.inpt{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: larger;
}
@media (max-width: 1024px){
    .container{
        margin-top: 20%;
        width: 900px;
        height: 800px;
        
    }
    .login h1{
        margin-bottom: 20px;
    }
    .inputs{
       margin-bottom: 20px;
    }
    .inputs span{
        font-size: 30px;
    }
    .inpt{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: 1px solid black;
        text-align: center;
        font-size: larger;
    }
    .button{
        height: 50px;
    }
}

@media (max-width: 800px){
    body{
        background-color: aquamarine;
    }
    
}